<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>{{var}}</h1> -->

    <!-- {% if 1==1 %}
    <h1>jajajajaja</h1>
    {% endif %}
    {{df}} -->

the image :
<div class="row">
    <img class="img-thumbnail" src={{img_show}} alt="">
</div> 
{{ var}}
<form action="/store" method="post">
    <label for="">give me the hashtag</label>
    <input type="text" name="hashtag" id="" placeholder="#somethings" value="#" required>
    <input type="submit" value="search about data ">
</form>
<!-- <img src="test.png" alt="zzzzz">     -->
</body>
</html>